name: 02 - Workflow Events

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "30 5 * * 1,3"
    - cron: "30 5,17 * * 4"

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        if: github.event.schedule != '30 5 * * 1,3'
        run: echo "I've been triggered by a(n) ${{ github.event_name }} event"
